/* CSS Document */

*{
margin:0px;
border:0px;
padding:0px;
font-family:"ËÎÌå";
font-size:13px;
}

body{
height:100%;
background-repeat:repeat-x;
background-color:#fff5e1;
}

#box{
width:1300px;
margin:70px auto 0px auto;
}

#top{
margin:0 auto;
}

#top1{
width:958px;
height:104px;
background-image:url(../../Brand/pic/top1.jpg);
}

#top2{
width:342px;
height:104px;
}

.top{
float:left;
}

#tuichu{
width:45px;
height:14px;
margin-left:282px;
margin-top:22px;
}

#huanying{
margin-top:28px;
margin-right:1px;
float:right;
width:323px;

}

span
{
    font-family:@Adobe ·ÂËÎ Std R;
    font-size:13px;
    float:left;
    }
  
#shijian
{
    font-family:@Adobe ·ÂËÎ Std R;
    font-size:13px;
    float:left;
    }

#zhuti{
width:1301px;
height:779px;
float:left;
background-color:#fff3d2;
}

#zuoshang1{
width:23px;
height:26px;
background-image:url(../../Brand/pic/zuoshang1.jpg);
background-repeat:no-repeat;
float:left;
}

#zhong1{
width:96%;
height:26px;
background-image:url(../../Brand/pic/zhong1.jpg);
background-repeat:repeat-x;
float:left;
}

#youshang1{
width:27px;
height:26px;
background-image:url(../../Brand/pic/youshang1.jpg);
background-repeat:no-repeat;
float:left;
}

#zhong2{
width:23px;
height:96%;
background-image:url(../../Brand/pic/zhong2.jpg);
background-repeat:repeat-y;
float:left;
}

#zhong{
width:96%;
height:96%;
float:left;
}

#zhong3{
width:27px;
height:96%;
background-image:url(../../Brand/pic/zhong3.jpg);
background-repeat:repeat-y;
float:left;
}

#zuoxia1{
width:22px;
height:33px;
background-image:url(../../Brand/pic/zuoxia1.jpg);
background-repeat:no-repeat;
float:left;
}

#zhong4{
width:96%;
height:33px;
background-image:url(../../Brand/pic/zhong4.jpg);
float:left;
}

#youxia1{
width:27px;
height:33px;
background-image:url(../../Brand/pic/youxia1.jpg);
background-repeat:no-repeat;
float:left;
}

#daohang{
width:194px;
height:100%;
background-color:#ffffff;
float:left;
}

#daohang1{
width:194px;
height:15px;
background-image:url(../../Brand/pic/daohang1.jpg);
background-repeat:no-repeat;
float:left;
}

#daohang2{
width:194px;
height:96.2%;
float:left;
}

.submenu dt{
width:174px;
height:37px;
background-image:url(../../Brand/pic/lanmu1.jpg);
background-repeat:no-repeat;
cursor:pointer;
text-align:left;
font-size:16px;
float:left;
font-weight:bold;
margin:5px 9px 0px 9px;
padding:7px 0px 0px 40px;
}

.submenu dt a{
font-size:16px;
}

.submenu dd a{
 font-size:13px;
}

.submenu dd{
background-image:url(../../Brand/pic/lanmu3.jpg);
background-repeat:no-repeat;
width:151px;
height:19px;
float:left;
text-align:left;
padding:1px 0px 0px 35px;
margin:2px 17px;
display:none;
}

a{
color:#000000;
text-decoration:none;
}

#daohang3{
width:194px;
height:14px;
background-image:url(../../Brand/pic/daohang3.jpg);
background-repeat:no-repeat;
float:left;
}

#weizhi{
width:80%;
height:16px;
margin:10px 0px 0px 30px;
float:left;
}

#right{
width:1000px;
margin:13px 0px 0px 31px;
float:left;
}

#xuxian1{
width:56px;
height:63px;
background-image:url(../../Brand/pic/xuxian1.jpg);
background-repeat:no-repeat;
float:left;
}

#xuxian2{
width:88.8%;
height:63px;
background-image:url(../../Brand/pic/xuxian2.jpg);
float:left;
}

#xuxian3{
width:56px;
height:63px;
background-image:url(../../Brand/pic/xuxian3.jpg);
background-repeat:no-repeat;
float:left;
}


#xuxian4{
width:68px;
height:55px;
background-image:url(../../Brand/pic/xuxian4.jpg);
background-repeat:no-repeat;
float:left;
}

#xuxian5{
width:87.4%;
height:55px;
background-image:url(../../Brand/pic/xuxian5.jpg);
background-repeat:repeat-x;
float:left;
}

#xuxian6{
width:58px;
height:55px;
background-image:url(../../Brand/pic/xuxian6.jpg);
background-repeat:no-repeat;
float:left;
}

#iframe{
width:1000px;
height:580px;
float:left;
}

#bottom{
width:102%;
height:50px;
font-size:14px;
text-align:center;
font-family:"Times New Roman", Times, serif;
background-color:#ff7123;
margin:70px auto 0px auto;
float:left;
}