body {
    background: none repeat scroll 0 0 #FFFFFF;
}

h1, h2, h3, h3 {
    font-size: 12px;
    font-weight: normal;
}
.shoppingcart_wrapper {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #404040;
    font-size: 12px;
    margin: 0 auto;
    width: 960px;
}
.shoppingcart_wrapper a, .box_window a {
    color: #1A66B3;
    text-decoration: none;
}
.shoppingcart_nav {
    height: 27px;
    margin: 15px auto;
    width: 960px;
}

.shoppingcart_nav h1 {
    background: url("../images/bg_cart_title.gif") no-repeat scroll 0 0 transparent;
    color: #FFBF27;
    font-size: 0;
    height: 27px;
    line-height: 0;
    overflow: hidden;
    width: 943px;
}
.shoppingcart_business_dd, .shoppingcart_business_other {
    border-bottom: 2px solid #DFC9B2;
    height: 22px;
    margin: 4px auto 0;
    padding-bottom: 3px;
    width: 960px;
}
.shoppingcart_subject {
    display: block;
    height: 29px;
    width: 960px;
}
.shoppingcart_subject li.row1 {
    width: 395px;
}
.shoppingcart_subject li.row2 {
    width: 102px;
}
.shoppingcart_subject li.row3 {
    width: 144px;
}
.shoppingcart_subject li.row4 {
    background: url("../images/icon_cart.gif") no-repeat scroll 87px -80px #F7F4EB;
    width: 141px;
}
.shoppingcart_subject li.row5 {
    width: 93px;
}
.shoppingcart_subject li.row6 {
    width: 85px;
}
.shoppingcart_list {
    clear: both;
    width: 960px;
}
.shoppingcart_subject li {
    background: none repeat scroll 0 0 #F7F4EB;
    border-bottom: 1px solid #DFC9B2;
    color: #8A7152;
    display: block;
    float: left;
    height: 28px;
    line-height: 28px;
    overflow: hidden;
    text-align: center;
}
.shoppingcart_subject li.clear {
    border-bottom: 0 none;
}
.row00, .row11, .row22, .row33, .row44, .row55, .row66 {
    border-bottom: 1px solid #E1E1E1;
    border-right: 0 none;
    display: block;
    float: left;
    font: 12px/74px Arial;
    height: 74px;
    text-align: center;
    width: 92px;
}
.row11 p {
    display: table-cell;
    height: 74px;
    overflow: hidden;
    vertical-align: middle;
    width: 287px;
}
.row11 {
    border-right: 1px solid #E1E1E1;
    font-family: "宋体";
    line-height: normal;
    padding-right: 15px;
    text-align: left;
    width: 287px;
}
.row22 {
    border-right: 1px solid #E1E1E1;
    width: 101px;
}
.row33 {
    border-right: 1px solid #E1E1E1;
    color: #CC3300;
    width: 144px;
}
.row44 {
    border-right: 1px solid #E1E1E1;
    width: 140px;
}
.row55 {
    border-right: 1px solid #E1E1E1;
    height: 46px;
    padding: 28px 17px 0;
    position: relative;
    width: 58px;
}
.row55 input {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C4C4C4;
    float: left;
    font-size: 12px;
    height: 19px;
    line-height: 19px;
    margin-right: 1px;
    margin-top: 1px;
    text-align: center;
    width: 36px;
}
.row55 a.add {
    background: url("../images/icon_cart.gif") no-repeat scroll 6px -58px transparent;
}
.row55 a {
    border: 1px solid #C9C9C9;
    display: block;
    float: left;
    font-size: 0;
    height: 8px;
    line-height: 0;
    margin-top: 1px;
    text-indent: -9999px;
    width: 17px;
}
.row55 a.cut {
    background: url("../images/icon_cart.gif") no-repeat scroll 6px -67px transparent;
}
.row66 {
    border-right: 0 none;
    height: 53px;
    line-height: 18px;
    padding-top: 21px;
    width: 84px;
}
.row66 a {
    display: block;
}
.row00 a {
    border: 1px solid #DFDFE0;
    display: block;
    height: 54px;
    margin: 9px auto 0;
    text-align: center;
    width: 54px;
}
.shoppingcart_general_none {
    background: url("../images/bg_cart_pic.gif") no-repeat scroll 0 -820px transparent;
    clear: both;
    font-size: 14px;
    height: 60px;
    margin: 45px 0 30px 275px;
    padding: 20px 0 0 90px;
    width: 595px;
}
.shoppingcart_total {
    background: url("../images/bg_cart.gif") repeat-x scroll 0 -40px transparent;
    border-top: 1px solid #DFC9B2;
    height: 90px;
    margin-bottom: 13px;
    position: relative;
}
.shoppingcart_total p {
    padding-right: 8px;
    text-align: right;
}
.shoppingcart_total p.price {
    font-size: 14px;
    font-weight: bold;
    line-height: 51px;
}
.shoppingcart_total p.price span {
    color: #CC3300;
    font: bold 18px/51px Arial;
}
.shoppingcart_total p a {
    border: medium none;
    cursor: pointer;
    display: block;
    float: right;
    margin-left: 26px;
}
.shoppingcart_total p a.goon, .shoppingcart_total p a.goon:hover {
    background: url("../images/bg_cart_pic.gif") no-repeat scroll 0 -120px transparent;
    color: #404040;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    margin-top: 9px;
    padding: 0 0 0 11px;
    text-align: center;
    width: 101px;
}

.shoppingcart_total p a.clearing {
    background: url("../images/bg_cart_pic.gif") no-repeat scroll 0 -80px transparent;
    font-size: 0;
    height: 35px;
    text-indent: -9999px;
    width: 144px;
}
.shoppingcart_favorites {
    clear: both;
    margin: 0 auto 10px;
}
.shoppingcart_favorites ul {
    border-bottom: 1px solid #E8E8E8;
    display: block;
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    padding-left: 14px;
    width: 946px;
}
.shoppingcart_favorites h2 {
    background: none repeat scroll 0 0 #F7F4EB;
    border: 1px solid #DFC9B2;
    height: 20px;
    padding: 7px 12px 0 13px;
    width: 933px;
}
.shoppingcart_favorites h2 span {
    font-weight: bold;
}
.shoppingcart_favorites h2 a.up, .shoppingcart_favorites h2 a.down {
    background: url("../images/icon_cart.gif") no-repeat scroll 0 -110px transparent;
    display: block;
    float: right;
    font-size: 0;
    height: 13px;
    line-height: 0;
    overflow: hidden;
    text-indent: -9999px;
    width: 13px;
}
.shoppingcart_favorites ul li {
    display: block;
    float: left;
    font-family: Arial;
}
.shoppingcart_favorites ul li.row1 {
    width: 381px;
}
.shoppingcart_favorites ul li.row2 {
    text-align: center;
    width: 102px;
}
.shoppingcart_favorites ul li.row3 {
    text-align: center;
    width: 145px;
}
.shoppingcart_favorites ul li.row4 {
    text-align: center;
    width: 141px;
}
.shoppingcart_favorites ul li.row5 {
    padding-left: 20px;
    width: 155px;
}
.shoppingcart_favorites_fanye {
    font: 14px/30px Arial;
    height: 30px;
    margin: 0 auto 4px;
    padding-right: 40px;
    text-align: right;
    width: 920px;
}
.shoppingcart_favorites_none {
    text-align: center;
    width: 932px;
}

.clear {
    clear: both;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
}
.success_frame {
    background: url("../images/bg_success.gif") no-repeat scroll 120px 44px transparent;
    border: 2px solid #DFC9B2;
    margin: 0 auto;
    padding: 0 20px;
    width: 916px;
}
.success_frame p.price {
    font-size: 16px;
    font-weight: bold;
    padding: 60px 0 27px 175px;
}
.shoppingcart_nav3 h1 {
    background: url("../images/bg_cart_title.gif") no-repeat scroll 0 -80px transparent;
}
.success_frame .information3 {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 6px;
    padding: 5px 0 4px 175px;
    width: 741px;
}
.success_frame p.success_footer {
    border-top: 1px solid #F2E2D4;
    color: #878787;
    line-height: 18px;
    margin-top: 60px;
    padding: 13px 0 10px 94px;
    width: 822px;
}
