#jSuggestContainer {
position:absolute;
font: 12px Tahoma;
border:1px solid #ffb931;
border-top:0;
background:#FFF;
}

.jSuggestLoading {
font-style:italic;
padding: 10px;
}

#jSuggestContainer ul, #jSuggestContainer ul li{
margin: 0;
padding:0;
list-style:none;
}



#jSuggestContainer ul li{
padding: 2px 4px;
border-bottom: 1px dotted #ffe594;
color:#666;
background:#fff9e7;
height:15px;
cursor:pointer
}

#jSuggestContainer ul li.last{
border-bottom: 0;
}
#jSuggestContainer ul li span{
display:block;
}

#jSuggestContainer ul li.jSuggestHover{
background:#ffeaaa;
color:#333;

}
#jSuggestContainer ul li .key{
text-align:left;
float: left; 
}
#jSuggestContainer ul li .number{
 text-align:right;
 float: right; 
}

#rowName{
	  font: 15px "ו",Arial;
    left: 2px;
    position: relative;
    text-align: center;
    top: 3px;
    width: 95px;
    color:#666666
}
#ya{
	font: 15px "ו",Arial;
	 background: none repeat scroll 0 0 #FFFFFF;
    border: 0 none;
    border-radius: 3px 0 0 0;
    font-size: 14px;
    height: 18px;
    left: 3px;
    line-height: 18px;
    padding: 5px;
    position: absolute;
    top: 3px;
    vertical-align: middle;
    width: 457px;
}
#send{
	background-color: #F27B04;
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;	
    height: 34px;
    font: 18px "Consolas";
    font-weight:bold;
    width: 133px;
    float:left;
}
#send:hover{
	background-color: #FF8C00;
}
.search-panel{
	 background: none repeat scroll 0 0 #F27B04;
    border-radius: 0 0 0 3px;
    float: left;
    height: 34px;
    position: relative;
    width: 470px;
    clear:both;
}

.search-select{
	   background: none repeat scroll 0 0 #E7ECF3;
    clear: both;
    float: right;
    height: 28px;
    position: relative;
    top: 3px;
    width:100px;
}
.hot_search{
	 float: left;
    height: 34px;
    line-height: 34px;
    padding-left: 10px;
    position: relative;
    width: 187px;
}
#search_div{
	width:800px;
}
