@charset "utf-8";
/* CSS Document */
body{
color: #404040;
   	font:12px Arial, Helvetica, sans-serif;
    font-size: 12px;
}
table{
	text-align:center;
	margin:0 auto;
	font-size:16px;
	margin-top: 30px;
}
tr{
	padding-top:10px;
	line-height:40px;
}
td{
	padding:20px,20px,20px,20px;
}
input[type="reset"]{
	margin-top:10px;
	margin-right:10px;
	float:right;
}
input[type="submit"]{
	margin-top:10px;
	margin-right:10px;
	float:right;
}
a {
    color: #1A66B3;
    text-decoration: none;
}
.required{
	width:150px;
}
.formtips {
    padding: 2px;
    width: 130px;
}
.onError {
    background:  url(../images/reg3.gif) no-repeat scroll 0 center #FFE0E9;
    padding-left: 25px;;
    height: 20px;
}
.onSuccess {
    background:  url(../images/reg4.gif) no-repeat scroll 0 center #E9FBEB;
    padding-left: 25px;
    height: 20px;
}

