*{
margin:0px auto;
padding:0px;
font-family:"ו","Times New Roman", Times, serif;
font-size:14px;
margin:0 auto;
background-repeat:no-repeat;
}

body{
width:995px;
height:575px;
background-color:#fff3d2;
}
.td6{
vertical-align:middle;
background-color:#efe9d8;
border-top:solid 2px #fff3d2;
border-bottom:solid 2px #fff3d2;
}

.td6 p{
	margin-bottom: 4px;
}
td{
height:65px;
text-align:center;
padding-top:2px;
}

table{
width:100%;
} 

#top{
height:30px;
padding-top:2px;
} 

span a{
vertical-align:middle;
font-size:20px;
}

span{
float:left;
margin-left:18%;
color:#590808;
}

a{
color:#0000FF;
text-decoration:none;
}

.td2{
height:25px;
font-size:16px;
border-bottom:dashed 2px #d8cfb8;
}

.td3 , .td4{
vertical-align:middle;
background-color:#efe9d8;
border-top:solid 2px #fff3d2;
border-bottom:solid 2px #fff3d2;
}

.td4{
color:#8c0e0e;
font-size:16px;
text-align:left;
}

.td5{
height:1px;
text-align:center;
border-top:dashed 2px #d8cfb8;
}

.yes{
height:23px;
padding-left:25px;
background-image:url(../pic/reg4.gif);
}

.sou{
color:#969696;
}

.no{
}