*{
margin:0px auto;
padding:0px;
font-family:"ו","Times New Roman", Times, serif;
font-size:14px;
margin:0 auto;
background-repeat:no-repeat;
}

body{
width:995px;
height:575px;
background-color:#fff3d2;
}

td{
height:30px;
text-align:center;
padding-top:2px;
}

table{
width:100%;
}

#top{
height:30px;

} 

span a{
vertical-align:middle;
font-size:20px;
}

span{
margin-left:31%;
color:#590808;
}

.yes {
    background-image: url("../pic/reg4.gif");
    height: 23px;
    padding-left: 25px;
}

.no{
}

a{
color:#0000FF;
text-decoration:none;
}

.td1{
}

.td2{
height:40px;
border-top:dashed 2px #d8cfb8;
border-bottom:dashed 2px #d8cfb8;
}

.td3{
background-color:#f3e7c6;
border-top:solid 2px #fff3d2;
border-bottom:solid 2px #fff3d2;
}

.td4{
height:40px;
border-top:dashed 2px #d8cfb8;
}

.td5{
text-align:center;
border-top:dashed 2px #d8cfb8;
}

.td5 input{
margin-left:20px;
}

.input1{
background-color:#d8be98;
border:dashed 1px #d8be98;
}