/* CSS Document */

*{
padding:0px;
font-family:"ו","Times New Roman", Times, serif;
font-size:14px;
background-repeat:no-repeat;
text-decoration:none;
}

body{
width:970px;
height:530px;
background-color:#fff3d2;
}

#jilu{
width:100%;
height:468px;
}

table{
width:100%;
}

#rangeB{
font-size:11px;
}


.td1{
text-align:left;
height:15px;
}


.line1{
height:24px;
}

.yes{
height:23px;
padding-left:25px;
background-image:url(../pic/reg4.gif);
}

.no{
}

.sou{
color:#969696;
}

select{
color:#969696;
}

#tianjia{
background-color:#d8be98;
border:dashed 1px #d8be98;
}