*{
margin:0px auto;
padding:0px;
font-family:"宋体","Times New Roman", Times, serif;s
background-repeat:no-repeat;
}

body{
width:950px;
height:450px;
background-color:#fff3d2;
}

td{
font-size:14px;
height:65px;
text-align:center;
padding-top:2px;
}

table{
width:100%;
} 


#dangqian{
vertical-align:middle;
font-size:20px;
float:left;
color:#590808;
}

a{
color:#0000FF;
text-decoration:none;
}

.td2{
height:30px;
font-size:16px;
border-bottom:dashed 2px #d8cfb8;
}

.td3 , .td4{
height:25px;
vertical-align:middle;
background-color:#efe9d8;
border-top:solid 2px #fff3d2;
border-bottom:solid 2px #fff3d2;
}

.td4{
color:#8c0e0e;
font-size:16px;
}

.td5{
height:1px;
text-align:center;
border-top:dashed 2px #d8cfb8;
}

.yes{
height:23px;
padding-left:25px;
background-image:url(../pic/reg4.gif);
}

.sou{
color:#969696;
width:200px;
height:20px; 
display:block;
}

select{
color:#969696;
}

.no{
}