*{
margin:0px auto;
padding:0px;
font-family:"ו","Times New Roman", Times, serif;
font-size:14px;
background-repeat:no-repeat;
}

body{
width:975px;
height:575px;
background-color:#fff3d2;
}

#fengxi{
width:100%;
height:460px;
border: none;
}

#top{
height:50px;
padding-top:5px;

} 
#baobiao{
width:100%;
height:460px;
padding-top:15px;
padding:5px;

} 

span a{
vertical-align:top;
font-size:20px;
}

span{
margin-left:22%;
color:#590808;
}

.yes{
height:50px;
padding-left:25px;
background-image:url(../pic/reg4.gif);
}

.no{
}

.shijian_left{
float:left;
text-align:right;
width:33%;
height:20px;
}
.shijian_min{
float:left;
text-align:center;
width:33%;
height:20px;
}
.shijian_right{
float:left;
text-align:left;
width:33%;
height:20px;
}
.red_time{
color: red;
}